doctype html
html 
  head 
    title   Anjali Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul  
           div#logo
              img(src="/static/img/m3.png")
              | ADA
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") Service]
           li #[a(href="/") Class Info]
           li #[a(href="/contact") Contact Us]
    block content
    block foot
    footer#footer
      | Copyright  2020 AnjaliDanceAcademy | All rights are reserved        